<launch>

  <include file="$(find xarm7_gripper_moveit_config)/launch/realMove_exec.launch" >
    <arg name="robot_ip" value="192.168.1.196"/>  
  </include>
  
  <include file="$(find ar_track_alvar)/launch/pr2_indiv_no_kinect.launch">
    <arg name="cam_info_topic" value="/camera/color/camera_info" />
    <arg name="cam_image_topic" value="/camera/color/image_raw" />
    <arg name="output_frame" value="camera_link" />
    <arg name="marker_size" value="3" />
  </include>
  
  <include file="$(find realsense2_camera)/launch/rs_camera.launch" >
    <arg name="initial_reset" value="true" />
    <!-- <arg name="serial_no" value="934222070995" /> -->

  </include>
  
  <node pkg="tf" type="static_transform_publisher" name="camera_xarm7_link" args="0.07 -0.015 0 1.571 -1.571 1.571 link_eef camera_link 100" />
  <node name="transform_pose_marker" pkg="startupday_demo" type="transform_pose_marker.py" output="screen"/>
  <!-- <node name="demo_node" pkg="startupday_demo" type="demo.py" output="screen"/> -->
  
</launch>